html{
	font-size: 62.5%;
}

body{
	margin: 0;
	font-family: 'Poppins';
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

header {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	align-items: center;
}

nav {
	margin: 4em;
}

nav ul {
	list-style-type: none;
	display: flex;
	gap: 4.1em;
	margin: 0;
}

nav a {
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	font-size: 1.6rem;
	position: relative;
}

nav ul li a.active:before {
	position: absolute;
	content: "";
	width: 35%;
	height: 1px;
	border-bottom: 2px solid black;
	bottom: -6px;
}

main {
	display: flex;
	gap: 8em;
	/* justify-content: space-between; */
	/* width: 100%; */
	margin-top: 11em;
}

.left-col {
	width: 45%;
}

.right-col {
	flex-grow: 1;
}

h1 {
	font-size: 5.2em;
	font-weight: 100;
	font-family: 'Playfair Display';
	margin: 0;
}

.subhead {
	font-size: 1.5em;
}

.cta-btns {
	margin: 2em 0;
}

.cta-btns, .secondary-cta { 
	display: flex;
	gap: 8em;
}

.primary-cta {
	background-color: rgb(192, 100, 100);
	font-size: 1.8rem;
	font-weight: bold;
	color: black;
	text-decoration: none;
	border-radius: 1.9em;
	padding: 1em 2em;
	display: inline-block;
}

.secondary-cta {
	font-size: 1.8rem;
	text-decoration: none;
	color: black;
	display: block;
	padding: 1em 0;
}


.secondary-cta svg {
	width: 20px;
}

.news {
	display: flex;
	gap: 3em;
	padding: 5em;
	border: 1px, solid black;
	border-radius: 1.8em;
	position: relative;
}

.news::before {
	position: absolute;
	content: "";
	background: url('/images/sparkles.svg');
	width: 100px;
	height: 100px;
	top: -20px;
	left: -20px;
	z-index: 2; 
}

p.employees {
	font-size: 1.4rem;
	margin: 0;
	line-height: 100%;
}

p.details {
	font-size: 1.4rem;
	margin: 0;
}

.right-col {
	display: grid;
	gap: 2.3em;
	grid-template-columns: repeat(2, auto);
	grid-template-areas: 
		"left right"
		"left bottom";
}

.card {
	background-color: grey;
	border-radius: .8em;
	padding: 1.1em;
	display: flex;
	align-items: end;
	background-size: 150%;
}

.card1 {
	grid-area: left;
	background-image: url(/images/chair.jpg );
}

.card2 {
	background-image: url(/images/img2.jpg );
}

.card3 {
	background-image: url(/images/img3.jpg );
}

.card-details {
	background-color: white;
	font-size: 15px;
	border-radius: .8em;
	padding: 1em;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.product-title {
	font-size: 20px;
	color: black;
	text-decoration: none;
	font-family:'Playfair Display';
	display: flex;
	align-items: center;
	width: 100%;
}

.product-title:hover {
	color: grey;
}

.product-price {
	font-size: 20px;
	font-weight: 25px;
}